#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

.nav-header {
  position: relative;
  padding: 24px;
}
.navlinks {
  top: 18px;
  position: relative;
}
